* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.input__password {
  color: rgb(58, 55, 55);
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: black;
  border-inline-end-width: 1px;
  z-index: 1;
}

.ant-modal-wrap {
  display: flex;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-modal {
  top: 0px;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: success-message 1s ease-out forwards;
}

@keyframes success-message {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.layout__reglogin {
  background-image: url("/public/images/poster.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.nav__link {
  padding: 20px 0px !important;
}

.nav__link:hover {
  color: black !important

}

.ReactModal__Overlay .ReactModal__Overlay--after-open {
  position: relative;
  background-color: rgb(255, 255, 255 , 0.1) !important;
  z-index: 999 !important;
}

.slide__movie:hover .button__play {
  display: block;
  transition: 1s;

}

.button__play {
  display: none;
}

.slick-list {
  height: 100%;
  width: 100%;
}

.slick-track {
  height: 100%;
  width: 100%;
}

.slick-next {
    right: -12px !important
}

.slick-prev {
    left: -42px !important ;
}

slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px !important ;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

slick-prev:before, .slick-prev:before {
    font-family: 'slick';
    font-size: 50px !important ;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media(max-width : 992px) {
  .slick-next {
    right: 0px !important
}

.slick-prev {
    left: -30px !important ;
    z-index: 1;
}
}

@media(min-width : 992px) {
  .slick-next {
    right: 0px !important
}

.slick-prev {
    left: -30px !important ;
    z-index: 1;
}
}

@media(max-width : 768px) {
  .slick-next {
    display: none !important;
    
}

.slick-prev {
  display: none !important;
}
}



.button__listmovie {
  display: none;
}


.ant-card:hover .button__listmovie {
  display: block;
}

.ant-card:hover .button__booking {
  display: block;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-carousel .slick-dots {
  position: absolute;
  inset-inline-end: 0;
  bottom: 1;
  inset-inline-start: 0;
  z-index: 0 !important;
  display: flex!important;
  justify-content: center;
  padding-inline-start: 0;
  list-style: none;
}

.button__booking {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.button__booking:hover {
background: red;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-select-multiple .ant-select-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 10px;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #ffffff;
  border: none ; 
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-right: 0.5px solid grey;
}

.ant-select-selection-placeholder {
  font-weight: bold;
  color: black;
  font-size: 17px;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    padding-bottom: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 6px;
    border-end-end-radius: 6px;
    border-end-start-radius: 0;
    /* background: #DB5D20; */
}

:where(.css-dev-only-do-not-override-htwhyh).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
  padding-top: 0;
  padding-bottom: 0;
  border-start-start-radius: 0;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  border-end-start-radius: 0;
  background: #DB5D20;
}
